#servicos {
    
    i {
        font-size: 2.7rem;
    }
    
    p {
        margin-bottom: 2rem;
        &::after {
            content: "";
            display: block;
            margin-top: 20px;
            background-color: #000;
            width: 100%;
            height: 2px;
        }
    }
    .descricao {
        &::after {
            content: none;
        }
    }
}